## Introduction

In [1]:
import pandas as pd

In [2]:
import matplotlib as plt

In [3]:
cars=pd.read_csv("car-sales.csv")

In [4]:
cars

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [5]:
sample_series=pd.Series(["one","two","three"])

In [6]:
sample_series

0      one
1      two
2    three
dtype: object

In [7]:
cars.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [9]:
cars.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [10]:
df=pd.DataFrame({"ind":sample_series})

In [11]:
df

     ind
0    one
1    two
2  three

In [12]:
cars["Doors"]

0    4
1    4
2    3
3    5
4    4
5    4
6    4
7    4
8    4
9    4
Name: Doors, dtype: int64

In [14]:
cars["Doors"].mean()

4.0

In [16]:
cars.loc[3]

Make                    BMW
Colour                Black
Odometer (KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

In [17]:
cars.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [18]:
cars.iloc[3]

Make                    BMW
Colour                Black
Odometer (KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

In [19]:
cars.iloc[1]

Make                 Honda
Colour                 Red
Odometer (KM)        87899
Doors                    4
Price            $5,000.00
Name: 1, dtype: object

In [21]:
cars.iloc[0]

Make                Toyota
Colour               White
Odometer (KM)       150043
Doors                    4
Price            $4,000.00
Name: 0, dtype: object